@font-face {
    font-family: MXL;
    src: url(fonts/Metropolis-ExtraLight.ttf);
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
*{
    margin: 0;
    border: 0;
    font-family: "MXL";
}

:root {
    --bgcolor: #0f0f0f;
  }

a{
    color: white;
    text-decoration: none;
}

body{
    background-color: var(--bgcolor);
    background-image: url(img/noise.png);
}

#navbar-container ul{
    display: flex;
    justify-content: flex-end;
}


.navbar-button{
    list-style: none;
    font-size: 1.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

#hero{
    
    height: 90vh;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 4.5rem;
    align-items: center;
}

#eysel{
    
    margin-top: 25rem;
}


#eysel{
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


#hero-text{
    margin-top: -10rem;
    text-align: right;
}

