@font-face {
    font-family: MXL;
    src: url(fonts/Metropolis-ExtraLight.ttf);
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
*{
    margin: 0;
    border: 0;
    font-family: "MXL";
    color: white;
}

:root {
    --bgcolor: #0f0f0f;
    --visual: red 1px solid;
  }

a{
    
    text-decoration: none;
}

body{
    background-color: var(--bgcolor);
    background-image: url(img/noise.png);
}


#navbar-container{
  background-image: url(img/noise.png);
  display: flex;
  justify-content: space-between;
  
}

#logo{
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 1rem;
}
   

#navbar-container ul{
    display: flex;
    justify-content: flex-end;
}


.navbar-button{
    list-style: none;
    font-size: 1.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

#hero{
    
    height: 90vh;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
   
    font-size: 4.5rem;
    align-items: center;
    
}

#social-media-container{
  height: 100%;
  border: var(--visual);
  display: flex;
  flex-direction: column;
  justify-content:flex-end;

}


#social-media-ul{
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  margin-left: -3rem;
  
}

.social-media-icon{
  padding-top: 2rem;
}

#hero-text{
    margin-left: 5rem;
    margin-top: 10rem;
    text-align: left;
    border: var(--visual);
}
#skills{
  padding-top: 0.5rem;
  font-size: 3rem;
  text-align: center;
}
#about-me-container{
  padding-top: 5rem;
  font-size: 3rem;
  height: 100vh;
  margin-left: 3rem;
  margin-right: 3rem;
}